/* Scss Document */
@import "global.scss";
body {
  background: #edede8;
  letter-spacing: 1px;
}
#lead {
  @include pc {
    background-image: url("../img/about/lead_bg.jpg");
    background-position: top center;
    padding-top: 130px;
    padding-bottom: 150px;
    background-size: cover;
    height: auto;
  }

  .lead-bg-sp {
    height: 275px;
    background-image: url("../img/about/lead_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
  }

  .content {
    background: #000;
    padding: 11vw 6%;
    @include pc {
      padding: 0 0 0 90px;
      background: unset;
    }
    h2 {
      text-align: center;
      font-size: 6vw;
      margin-bottom: 3vw;
      @include pc {
        text-align: left;
        font-size: 56px;
        line-height: 84px;
        margin-bottom: 75px;
      }
    }
    p {
      color: #e3e3e3;
      letter-spacing: 1px;
      @include pc {
        line-height: 32px;
        width: 585px;
      }
    }
  }
}

#ingredients {
  padding-top: 12vw;
  padding-bottom: 24vw;
  background: url("../img/about/ingredients_bg_sp.png") no-repeat top center/100% auto;
  @include pc {
    padding: 0;
    background: unset;
  }
  .ingredients1 {
    position: relative;
    padding: 0 6%;
    @include pc {
      padding-top: 92px;
      padding-bottom: 118px;
      &::after {
        content: url("../img/about/ingredients_bg.png");
        position: absolute;
        left: -200px;
        top: 0;
        z-index: -1;
      }
      &::before {
        position: absolute;
        content: url("../img/about/ingredients_img3.png");
        right: -100px;
        top: -36px;
      }
    }

    .ingredients_h2 {
      margin-bottom: 9vw;
      @include pc {
        margin-bottom: 65px;
      }
    }
    .content {
      @include pc {
        margin-left: 70px;
      }
      .ingredients_img2 {
        margin-bottom: 3vw;

        @include pc {
          margin-bottom: 0;
        }
        img {
          width: 85%;
        }
        @include pc {
          margin-bottom: 20px;
        }
      }
    }
    .text {
      color: #5b5a56;
      @include pc {
        width: 590px;
      }
    }
  }
  .ingredients2 {
    margin-top: 12vw;
    @include pc {
      padding-bottom: 170px;
      margin-top: 0;
    }
    img.ingredients-img4 {
      margin-bottom: 6vw;
      @include pc {
        margin-bottom: 50px;
      }
    }
    .content {
      display: block;
      @include pc {
        display: flex;
      }
      .left {
        text-align: left;
        @include pc {
          padding-right: 20px;
          width: 303px;
        }

        img {
          width: 55%;
          @include pc {
            width: 100%;
          }
        }
      }
      .right {
        @include pc {
          padding-left: 44px;
          width: 650px;
          border-left: 2px solid #5b5a56;
        }
        p {
          color: #5b5a56;
          text-align: left;
        }
      }
    }
  }
}

#quality {
  position: relative;
  background: url("../img/about/quality_bg_sp.jpg") no-repeat top center/100% auto, url("../img/about/quality_bg2_sp.jpg") repeat-y bottom center;
  padding: 0 0 12vw 0;
  @include pc {
    padding: 60px 0 9px 0;
    background-color: #e3e1db;
    background-image: unset;
    &::after {
      display: none;
    }
  }

  .wrap {
    position: relative;
    flex-direction: column;
    @include pc {
      display: block;
      padding-left: 30px;
      padding-bottom: 77px;
      &::after {
        content: url("../img/about/quality_deco_top.png");
        position: absolute;
        top: -162px;
        left: -400px;
      }
      &::before {
        content: url("../img/about/quality_bg.png");
        position: absolute;
        top: 143px;
        right: -447px;
        z-index: 1;
      }
    }
    .quality-h2 {
      margin-top: -10vw;
      margin-bottom: 5vw;
      @include pc {
        position: absolute;
        right: 187px;
        top: -21px;
      }
      img {
        width: 14%;
        @include pc {
          width: auto;
        }
      }
    }
    .left {
      @include pc {
        margin-right: 30px;
        order: 1;
      }
      .quality_img1 {
        padding-right: 15%;
        @include pc {
          padding-right: 0;
          margin-bottom: 40px;
        }
        img {
          margin: 6vw 0;
          @include pc {
            margin: 0 0 0px 0;
          }
        }
      }
    }
    .right {
      position: relative;
      @include pc {
        position: absolute;
        right: 30px;
        top: 424px;
        z-index: 1;
      }

      .quality-img2 {
        margin: 6vw 0 6vw 15%;
        width: 85%;
        @include pc {
          margin: 0;
          width: auto;
        }
      }
    }
    p.txt {
      color: #5b5a56;

      @include pc {
        // position: absolute;
        // top: 705px;
        width: 503px;
      }
    }
  }
}

#flow {
  background: #000 url("../img/about/flow_bg_sp.jpg") no-repeat top center/100% auto;
  padding: 12vw 0;
  position: relative;
  @include pc {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: unset;
  }
  .deco-top {
    @include pc {
      height: 100px;
      margin-top: -100px;
      position: relative;
      &::before {
        content: url("../img/about/quality_deco_bottom.png");
        position: absolute;
        top: -100px;
        right: -424px;
      }
    }
  }
  .wrap {
    position: relative;

    .content1 {
      position: relative;
      flex-direction: column;
      @include pc {
        flex-direction: row;
      }
      &::after {
        content: url("../img/about/flow_bg_top.png");
        position: absolute;
        left: 355px;
        top: 123px;
      }
      .flow-h2 {
        margin-left: 108px;
        margin-right: 117px;
      }
      p {
        color: #e3e3e3;
        margin-top: 6vw;
        @include pc {
          margin-top: 0;
        }
      }
    }
    .flow-slide-wrap {
      p.sp {
        text-align: right;
        position: relative;
        z-index: 1;
        padding-right: 2%;
        img {
          width: 26%;
        }
      }
      .flow-slide {
        text-align: center;
        position: relative;
        margin-top: -17vw;

        @include pc {
          margin-top: 88px;
          padding-left: 40px;
          &::after {
            content: url("../img/about/flow_h_1.png");
            position: absolute;
            top: -200px;
            right: 105px;
          }
          .slide-item {
            img {
              width: 1000px;
            }
          }
        }

        .slick-dots {
          width: 100%;
          margin: auto;
          display: flex;
          justify-content: flex-start;
          z-index: 99;
          padding: 0px 0 15px;
          li {
            width: 15px;
            height: 15px;
            margin: 0 2vw;
            @include pc {
              width: 20px;
              height: 20px;
              margin: 0 10px;
            }
            button {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: none;
              background: #ab5010;
              text-indent: -9999px;
              cursor: pointer;
            }
            &.slick-active button {
              background: #f97619;
            }
          }
        }

        .slick-arrow {
          position: absolute;
          top: 0;
          width: calc(50% - 500px);
          height: 100%;
          background: rgba(255, 255, 255, 0.3);
          border: none !important;
          text-indent: -9999px;
          z-index: 99;
          cursor: pointer;
          &.slick-prev {
            left: 0%;
            background: rgba(255, 255, 255, 0.3);
          }
          &.slick-next {
            right: 0%;
          }
        }
      }
    }
  }
  #flow2 {
    position: relative;
    padding-top: 15vw;
    padding-bottom: 30vw;
    background: url("../img/about/flow_bg.png") no-repeat bottom center/100% auto;

    @include pc {
      margin-top: 100px;
      padding-bottom: 430px;
      padding-top: 0;
      &::after {
        content: "";
        position: absolute;
        right: -100px;
        left: -100px;
        bottom: 0;
        height: 100%;
        background: url("../img/about/flow_bg.png") no-repeat bottom center;
      }
      &::before {
        content: url("../img/about/flow_h_2.png");
        position: absolute;
        top: -78px;
        left: 245px;
        z-index: 1;
      }
    }

    .d-flex {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      position: relative;
      @include pc {
        flex-direction: row;
      }
      .sp.flow-h-2 {
        position: absolute;
        top: -11vw;
        left: 12%;
        z-index: 1;
        img {
          width: 37%;
        }
      }
      .flow-text2 {
        color: #e3e3e3;
        order: 2;
        margin-top: 6vw;
        @include pc {
          display: flex;
          align-items: flex-end;
          order: unset;
          margin-top: 0;
        }
      }
      .flow-h-3 {
        position: absolute;
        top: 24vw;
        text-align: center;
        @include pc {
          align-self: center;
          transform: translateY(50px);
          position: unset;
          text-align: unset;
        }
        img {
          width: 70%;
          @include pc {
            width: auto;
          }
        }
      }
      .flow-img4 {
        width: 65%;
        margin: 0 0 0 auto;
        order: 1;
        @include pc {
          width: auto;
          margin: 0;
          order: unset;
        }
      }
    }
  }

  #flow3 {
    position: relative;
    @include pc {
      padding-top: 30px;
      &::after {
        content: url("../img/about/flow_h_5.png");
        position: absolute;
        left: 352px;
        top: 115px;
      }
    }

    .flow-h-4 {
      margin: 5vw 0 17vw;
      @include pc {
        margin: 0 0 70px 0;
      }
    }
    .content {
      flex-direction: column;
      @include pc {
        flex-direction: row;
      }
      .left {
        order: 2;
        width: 100%;
        @include pc {
          margin-right: 55px;
          order: unset;
        }
        .flow-text3 {
          color: #e3e3e3;
          margin-top: 6vw;
          @include pc {
            margin-left: 50px;
            margin-top: 60px;
            width: 478px;
          }
        }
      }
      .right {
        order: 1;
        text-align: right;
        position: relative;
        margin-bottom: 6vw;
        @include pc {
          order: unset;
          margin: 0;
          text-align: unset;
          margin-bottom: 0;
        }
        img {
          width: 82%;
          @include pc {
            width: auto;
          }
        }
        p.sp {
          position: absolute;
          top: -10vw;
          left: -73%;
          img {
            width: 30%;
          }
        }
      }
    }
  }
}
#sake {
  flex-direction: column;
  padding-bottom: 12vw;
  @include pc {
    flex-direction: row;
  }
  .left {
    background: #ecece8;
    position: relative;
    order: 2;
    padding: 0 6.7%;
    @include pc {
      padding: 250px 1px 45px 65px;
      width: 510px;
      order: unset;
      &::after {
        content: url("../img/about/sake_img2.png");
        position: absolute;
        left: 187px;
        top: 50px;
      }
    }
    .sake-img2 {
      text-align: right;
      margin-bottom: -12vw;
      margin-top: 12vw;
      img {
        width: 55%;
      }
    }
    .text {
      margin: 6vw 0 6vw;
      @include pc {
        margin-top: 45px;
        margin-bottom: 64px;
      }
    }
    a.text-center {
      font-size: 18px;
      letter-spacing: 1.6px;
      display: inline-block;
      position: relative;
      padding: 0 65px;
      margin: 0 auto;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background: black;
      }
      &::before {
        content: "";
        position: absolute;
        right: -2px;
        bottom: -4px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 16px solid black;
        border-bottom: 0px solid transparent;
      }
    }
  }
  .right {
    order: 1;
    @include pc {
      background: url("../img/about/sake_img1.jpg") no-repeat top center;
      background-size: cover;
      width: calc(100% - 510px);
      order: unset;
    }
  }
}
