@charset "UTF-8"; /*=============================================
// Scss Document
* body
*=============================================*/
@import "global";

#lead {
  background: #000;
  @include pc {
    background: url("../img/course/lead_bg1.jpg") no-repeat top center/cover;
    height: 900px;
  }
  .sp {
    height: 300px;
    background: url("../img/course/lead_bg1.jpg") no-repeat top right/cover;
  }
  .lead-info {
    padding: 0 6%;
    @include pc {
      padding: 0 0;
      display: flex;
    }
    h2 {
      text-align: center;
      @include pc {
        margin-left: 27px;
      }
      @include pc {
        order: 2;
      }
      img {
        width: 25%;
        @include pc {
          width: auto;
        }
      }
    }
    p {
      color: #c3c3c1;
      padding: 6vw 0;
      @include pc {
        padding: 0 0;
        margin: 204px 0 0 80px;
        width: 312px;
        height: 550px;
        order: 1;
      }
    }
  }
}

#section-course {
  color: #5b5a56;
  padding-bottom: 12vw;
  @include pc {
    padding-bottom: 0;
    ul li {
      line-height: 50px;
    }
  }
  .bg-para {
    position: relative;
    height: 600px;
    .img-parallax {
      clip: rect(0, auto, auto, 0);
      margin-bottom: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      img {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        object-fit: cover;
        z-index: 0;
        transform: translateZ(0);
      }
    }
    .course-deco {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .h2-course {
    text-align: center;
    background: #000;
    padding: 2vw 0;
    font-size: 5vw;
    color: white;
    @include pc {
      font-size: 36px;
      line-height: 1.9;
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }
  .set1 {
    position: relative;
    @include pc {
      display: flex;
      &::before {
        content: url("../img/course/course_deco2.png");
        position: absolute;
        top: 136px;
        left: 460px;
        z-index: -1;
      }
    }
    .left {
      display: flex;
      gap: 0 3vw;
      padding: 3vw 0;

      @include pc {
        display: block;
        padding: 0 0;
        margin: -226px 0 0 -150px;
        p:first-child {
          margin-bottom: 20px;
        }
      }
    }
    .right {
      @include pc {
        width: 453px;
        margin: 0px 44px 0 1px;
      }
      h2 {
        margin-top: 2vw;
        @include pc {
          margin-top: 0;
          text-align: center;
        }
      }
      .set1-content {
        padding: 6vw 0 6vw;
        @include pc {
          padding: 0 0 0;
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
  .wrap {
    @include pc {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
    }
    .set-item {
      margin: 0 0 6vw 0;
      background: url("../img/course/course_bg_set.jpg");
      padding: 9vw 4%;
      @include pc {
        margin: 0 0 0 0;
        padding: 76px 24px;
        width: 498px;
        .list {
          display: flex;
          justify-content: space-between;
          padding: 0 37px;
        }
      }
    }
    .set2 {
      @include pc {
        margin: 0 0;
      }
    }
    .set3 {
      @include pc {
        margin-right: -39px;
      }
    }
  }
  .set2-set3 {
    @include pc {
      margin: 75px 228px 0;
    }
  }
  .course-tel {
    text-align: center;
    margin: 0 6%;
    padding: 10vw 6% 6vw;
    border: 2px solid #000;
    @include pc {
      padding: 60px 0 44px;
      width: 744px;
      height: 340px;
      margin: 87px auto 79px;
    }
    .tel {
      margin-bottom: 6vw;
      @include pc {
        margin-bottom: 43px;
      }
    }
  }
}
#reserve {
  background: #000;
  padding-bottom: 8vw;
  @include pc {
    padding-bottom: 84px;
  }
  h2 {
    @include pc {
      position: relative;
      z-index: 1;
    }
    img {
      width: 90%;
      @include pc {
        width: auto;
      }
    }
  }
  .reserve1 {
    position: relative;
    .resever-img1 {
      @include pc {
        position: relative;
        top: -52px;
        left: -50px;
        width: 1100px;
      }
    }
    .resever1-txt {
      margin: 6vw 0 9vw;
      @include pc {
        width: 580px;
        background: #000;
        position: relative;
        z-index: 1;
        margin: -164px -50px 0 auto;
        padding: 58px 56px 81px;
      }
    }
  }
  .reserve2 {
    position: relative;
    @include pc {
      display: flex;
      align-items: center;
      &::after {
        content: url("../img/course/reserve_deco.png");
        position: absolute;
        z-index: 0;
        left: 386px;
        top: 50px;
      }
    }
    .reserve-slide {
      @include pc {
        position: relative;
        z-index: 1;
        width: 571px;
      }
    }
    .reserve2-txt {
      @include pc {
        width: 375px;
        margin: -23px 0 0 62px;
      }
      h3 {
        color: #edece7;
        font-size: 6vw;
        margin-bottom: 2vw;
        @include pc {
          font-size: 36px;
          margin: 0 0 24px 0;
          font-weight: 600;
          letter-spacing: 4.4px;
        }
      }
    }
  }
  .resever-btn {
    margin: 9vw 0;
    @include pc {
      margin: 76px 0 0 0;
    }
    a {
      display: inline-block;
    }
  }
  .slick-dots {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
    padding: 10px 0 15px;
    li {
      width: 15px;
      height: 15px;
      margin: 0 10px;
      @include pc {
        width: 20px;
        height: 20px;
      }
      button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: none;
        background: #ab5010;
        text-indent: -9999px;
        cursor: pointer;
      }
      &.slick-active button {
        background: #f97619;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    width: calc(50% - 500px);
    height: 100%;
    background: rgba(255, 255, 255, 0.3) url(../img/shared/next.png) no-repeat center left 40px;
    border: none !important;
    text-indent: -9999px;
    z-index: 99;
    cursor: pointer;
    &.slick-prev {
      left: 0%;
      background: rgba(255, 255, 255, 0.3) url(../img/shared/prev.png) no-repeat center right 40px;
    }
    &.slick-next {
      right: 0%;
    }
  }
}
