@charset "UTF-8";
/*=============================================
// Scss Document
* body
*=============================================*/
body {
  font-size: 13px;
  line-height: 1.8;
  color: #000;
  letter-spacing: 0.1em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-width: inherit;
  min-height: inherit;
  max-height: 100%;
  background-color: #edece7;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.1px;
    background: url("../img/shared/bg.jpg") repeat top center;
  }
}
.nav--opened {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.nav--opened #pagetop,
.nav--opened .fx-btn {
  z-index: -1;
  opacity: 0;
}

body.nav--opened,
body.nav--opened *,
body.nav--opened *:hover,
body.nav--opened *:focus,
body.nav--opened *:active {
  pointer-events: none !important;
  touch-action: none !important;
}

body.nav--opened .hamburger,
body.nav--opened #menu_toggle,
body.nav--opened #menu_toggle * {
  pointer-events: visible !important;
  touch-action: auto !important;
}

/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/
.fnt-mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.fnt-meiryo {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-gothic {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-notosr {
  font-family: "Noto Serif JP", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 4vw;
  letter-spacing: 0;
  line-height: 3.2;
  background: url("../img/shared/bg_red.jpg");
  position: relative;
  border-radius: 100px;
  transition: ease 0.3s;
}
.btn-link:before {
  content: "";
  position: absolute;
  background: url("../img/shared/arrow.png") no-repeat center/100% auto;
  width: 9px;
  height: 11px;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}
.btn-link:hover {
  text-decoration: none;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  .btn-link {
    font-size: 25px;
  }
  .btn-link:before {
    width: 15px;
    height: 18px;
    right: 29px;
  }
}

.bg-brown {
  background: url("../img/shared/bg_brown.jpg");
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

/*=============================================
 * main
 *=============================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

a[href^="tel:"]:hover {
  text-decoration: none;
}

.wrap {
  padding: 0 4%;
  position: relative;
}

/*=============================================
 * header
 *=============================================*/
header {
  background: #000;
}
header h1 {
  color: #807974;
  font-size: 2.67vw;
  line-height: 1.6;
  padding: 2vw 0 0 3.333%;
}
header .logo {
  padding: 17vw 0;
}
header .logo a img {
  transform: scale(0.9) !important;
}
header .key-slide {
  height: 100vw;
}
header .key-slide li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=shared.css.map */