@charset "UTF-8"; /*=============================================
// Scss Document
* body
*=============================================*/
@import "global.scss";
#lead {
  padding: 12vw 0;
  @include pc {
    padding: 130px 0 0 0;
  }
  .wrap {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/takeout/lead_deco.png") no-repeat top center/100% auto;
      width: 100%;
      z-index: -1;
      height: 55vw;
      @include pc {
        height: 100%;
        top: -36px;
      }
    }
    h2 {
      width: 80%;
      margin: 0 auto 10vw;
      @include pc {
        margin: 0 0 64px 0;
        width: auto;
      }
    }
    .lead-txt {
      margin: 0 0 10vw 0;
      @include pc {
        margin: 0 auto 75px auto;
        width: 585px;
        text-align: center;
      }
    }
    .box-info {
      background: url("../img/takeout/lead_bg_box.jpg");
      padding: 12vw 6%;
      @include pc {
        padding: 73px 90px 68px 90px;
        width: 740px;
        height: 517px;
        margin: 0 auto 0 auto;
        text-align: center;
      }
      h3 {
        margin: 0 0 8vw 0;
        @include pc {
          margin: 0 0 21px 0;
        }
      }
      .lead-txt-box {
        margin: 0 0 8vw 0;
        @include pc {
          margin: 0 0 43px 0;
        }
      }
      .lead-btn {
        margin: 0 auto 8vw auto;
        width: 80%;
        @include pc {
          margin: 0 auto 29px auto;
          padding: 0 6px 0 0;
        }
        a {
          display: inline-block;
        }
      }
      .lead-tel {
        @include pc {
          padding: 0 5px 0 0;
        }
      }
    }
  }
}
#menu {
  padding: 0 0 12vw 0;
  @include pc {
    padding: 0 0 0 0;
  }
  .menu-bg {
    position: relative;
    margin: -44vw 0 0 0;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      top: -1vw;
      z-index: 1;
      left: 0;
      right: 0;
      height: 25vw;
      background: url("../img/takeout/menu_deco1.png") no-repeat top center;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -1vw;
      z-index: 1;
      left: 0;
      right: 0;
      height: 25vw;
      background: url("../img/takeout/menu_deco2.png") no-repeat bottom center;
    }
    @include pc {
      margin: -200px 0 0 0;
    }
    img {
      height: 100vw;
      object-fit: cover;
      @include pc {
        height: auto;
      }
    }
  }
  .wrap {
    @include pc {
      padding: 50px 0 116px;
    }
    .menu-item {
      margin-bottom: 10vw;

      @include pc {
        margin: 0 0 50px 0;
        display: flex;
        align-items: center;
      }
    }

    #menu1 {
      .left {
        @include pc {
          margin-left: -50px;
        }
      }
      .right {
        @include pc {
          margin-left: 55px;
        }
        .name-menu {
          display: flex;
          justify-content: space-between;
          font-size: 6vw;
          margin: 4vw 0 5vw 0;
          @include pc {
            font-size: 26px;
            margin: 0 0 auto 0;
          }
        }
        .menu-description {
          padding: 0 4%;
          margin: 0 0 6vw 0;
          @include pc {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 336px;
          }
        }
      }
    }
    #menu2 {
      .left {
        @include pc {
          order: 2;
          margin: 0 -66px 0 63px;
        }
      }
      .right {
        @include pc {
          order: 1;
        }
        .name-menu {
          display: flex;
          justify-content: space-between;
          font-size: 6vw;
          margin: 4vw 0 5vw 0;
          @include pc {
            font-size: 26px;
            margin: 0 0 0 0;
          }
        }
        .menu-description {
          padding: 0 4%;
          margin: 0 0 6vw 0;
          @include pc {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 336px;
          }
        }
      }
    }
    .right .name-menu {
      @include pc {
        align-items: flex-end;
        margin-bottom: 66px !important;
        .name {
          font-size: 46px;
          line-height: 72px;
        }
        .price {
          font-size: 36px;
          line-height: 32px;
          margin-bottom: 18px;
        }
      }
    }
    #menu3 {
      margin-top: 16vw;
      @include pc {
        margin: 70px 0 0px 0;
      }
      h2 {
        padding: 0 9% 4vw;
        margin: 0 auto;
        @include pc {
          width: auto;
          margin: 0 auto;
          padding: 0px 0 40px 0;
        }
      }
      .sub-title {
        text-align: center;
        margin-bottom: 3vw;
        @include pc {
          margin: 0 0 65px 0;
        }
      }
      .menu3-content {
        @include pc {
          display: flex;
          justify-content: space-between;
        }
        .item {
          @include pc {
            width: 470px;
          }
          h3 {
            font-size: 6vw;
            @include pc {
              font-size: 22px;
              line-height: 32px;
              margin-bottom: 20px;
            }
          }
          dl {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            padding-bottom: 1.5vw;
            margin-bottom: 6vw;
            @include pc {
              padding: 0 0 4px 0;
              margin: 0 0 16px 0;
            }
          }
        }
      }
    }
  }
}
